*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}


#home{
    background-color: #DAE2B6;
}
header{
    background-color:#CCD6A6;
}
header ul li{
    text-decoration: none;
}
header ul li a{
    text-decoration: none;
     font-weight: bold;
     text-transform: uppercase;
}
.nav-link{
    color: black;
}
#nosotros{
    font-size: 20px;
    
}
#nosotros p{
    font-weight: lighter ;
    text-align: justify;
    line-height: 50px;
}
.card{
    background-color: #DFE8CC;
    height: 500px;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1, 1.1)
}

.card-text{
    font-weight: bold;
}

.card a {
    background-color: rgba(196, 141, 21, 0.671);
}
#footer{
    background-color: #F7EDDB;
}
#botonCarrito{
    position: fixed;
    margin-right:20px;
    line-height: 55px;
    bottom: 100px;
    z-index: 100;
}
#canasta{
    margin-left: 90px;
}
.offcanvas{
    background-color:  #DAE2B6;
}
#botonFinalizar {
    margin-left: 100px;
}
.divProductos{
    background-color: rgba(196, 141, 21, 0.24);
    width: auto;
    height: auto;
    border-radius: 10px;
}
#total{
    
    font-size: 20px;
}
#botones{
    display: flex;
    justify-content: center;
}
